/* Write your CSS here */

.counter-container {
  display: flex;
  background-color: #f1f5f8;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.counter-heading {
  color: #2d3a35;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}

@media screen and(min-width:768px) {
  .counter-heading {
    font-size: 50px;
  }
}

.counter-value {
  color: #c20a72;
  font-weight: 900;
}

.description {
  text-align: center;
  color: #2d3a35;
  font-family: 'Roboto';
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 20px;
  }
}

.button-container {
  text-align: center;
}

.button {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  font-family: 'Roboto';
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
